body{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: Arial , sans-serif;
    display: flex;
    justify-content: center ;
    margin-top: 50px;
}
.container{
    width : 400px;
    background: white;
    padding: 25px;
    border-radius: 15px;
}
h2{
    text-align:center;
    color: green;
}

select{
    width:100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid green;
    margin-bottom: 15px;
}
.btn{
    width: 100%;
    padding: 12px;
    background:#2575fc; ;
    color: white;
    border: none;
    border-radius : 15px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background: #0b5bd3;
}
.option{
    padding: 12px;
    background: green;
    margin: 6px 0;
    border-radius: 8px;
    cursor : pointer;
    border: 2px solid transparent;
    color: black;
}
.option:hover{
    background: green;
}
.selected {
    background: #d0ebff;
    border-color: #2575fc;
}
.hidden{
    display: none;
}
#result-screen{
    text-align:  center;
}